* {
    font-family: 'Roboto', sans-serif;
}
.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.flexbox-item {
    width: auto;
    margin: 10px;
    border: 3px solid black;
    color: white;
    font-weight: bold;
    
}

.flexbox-item-1 {

}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 600%;
    font-weight: bolder;
}