* {
    font-family: 'Roboto', sans-serif;
}
.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.flexbox-item {
    width: auto;
    margin: 10px;
    border: 3px solid black;
    color: white;
    font-weight: bold;
    
}

.flexbox-item-1 {

}