*{
    font-family: Arial, Helvetica, sans-serif;
}
#sign-in{
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 20px 26px;
    margin: 10px;
}
html, body{
    min-height: 100%;

}
#newp{
    text-align: center;
    margin: 0;
}
#footer-row-border{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(rgb(116, 114, 114) 10%,rgb(214, 214, 214) 10%, white 80%);
    height: 2px;
    
}
#rowmargin{
    margin-bottom: 15px;
}
#sign-in{
    margin-bottom: .75rem;
}
#sbm-btn{
    margin-top: 10px;

}
#emailHelp{
    color: #111;
    font-size: 70%;
}
#footerul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#footerul> li{
    display: inline-block;
    margin-right: 13px;
    margin-top: 5px;
}
#footertext{
    color: black;
    text-align: center;
}
row{
    margin-left: 0;
}